[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
web3 = "*"
uvicorn = "*"
starlette = "*"
pyethash = "*"
marshmallow = "==3.0.0rc7"
marshmallow-enum = "*"
typing-inspect = "*"
apispec = "*"
pyyaml = "*"
aiofiles = "*"
requests-async = "*"
motor = "==2.0.0"
aioredis = "*"
tqdm = "*"
python-bitcoinlib = "*"
databases = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
